{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Flask Server page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What should <mark>I learn</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>This is APCSP</li>
                            <li>Yay</li>
                           
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who is <mark>Toby</mark>? How do I be like him?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Toby is cool</li>
                            <li>Toby is awesome.</li>
                            <li>No one will be Toby</li>
                            <li>Toby Leeder hello toby on wednesday.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go everywhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Coding</li>
                            
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}